<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Index</title>
  <link type="text/css" rel="stylesheet" href="materialize/css/bootstrap-grid-min"  media="screen,projection"/>
  <link type="text/css" rel="stylesheet" href="materialize/css/base.css"  media="screen,projection"/>
  <link type="text/css" rel="stylesheet" href="materialize/css/componentes.css"  media="screen,projection"/>
  <link type="text/css" rel="stylesheet" href="materialize/css/layout.css"  media="screen,projection"/>
</head>
<body>
   <h1>Olá Spring Boot</h1>
   <a href="/cadastropessoa">Cad. Pessoa</a>
   

 <script type="text/javascript" src="materialize/js/materialize.js"></script>
 <script type="text/javascript" src="materialize/js/materialize.min.js"></script>   
</body>
</html>